* {
    color:#000080;
}

html {
    background-color:#FFF;
}

hr {
  border: 1;
  width: 98%;
}

h2 p {
    font-size: .8em;
}

#site-name {
  text-align: center;
  font-weight: bolder;
}

.lilbig {
    font-size: 1.2em;
}

.top {
    font-size: 1.6em;
}

li {
    font-size: .5em;
}

li a {
    color:#800080;
    font-size: 1.8em;
}

a:visited {
    color:#FF0000;
}

.column-left {
  width: 40%;
  margin: 7px;
  float: left;
}

.column-right {
  width: 40%;
  margin: 7px;
  float: right;
}

.foot {
    clear: both;
    text-align: center;
    font-size: .5em;
}

.legal {
    text-align: left;
}

.h-line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}